.blogsDiv{
    background-color: #E8E3D9;
    min-height: 100vh;
}

.blogsDiv h1{
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    color: #224A49;
    margin-bottom: 20px;
}


.blogsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    place-items: center;
}

@media (max-width: 992px){
    .blogsContainer{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogsDiv h1{
        font-size: 3em;
    }
}

@media (max-width: 668px){
    .blogsContainer{
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
    .blogsDiv h1{
        font-size: 3em;
    }
}